
  <%=form_with model: @employee do |form|%>
    <div class = "row">
      <div class = "col-lg-4">
        <div class = "form-group">
          <%= form.label :first_name, class: 'mb-2'%>
          <%= form.text_field :first_name, class: 'form-control form-control-lg rounded-0'%>
        </div>
      </div>
      <div class = "col-lg-4">
        <div class = "form-group">
          <%= form.label :middle_name, class: 'mb-2'%>
          <%= form.text_field :middle_name, class: 'form-control form-control-lg'%>
        </div>
      </div>
      <div class = "col-lg-4">
        <div class = "form-group">
          <%= form.label :last_name, class: 'mb-2'%>
          <%= form.text_field :last_name, class: 'form-control form-control-lg'%>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-6">
        <div class = "form-group">
          <%= form.label :personal_email, class: 'mb-2'%>
          <%= form.text_field :personal_email, class: 'form-control form-control-lg'%>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-4">
        <div class = "form-group">
          <%= form.label :address, class: 'mb-2'%>
          <%= form.text_field :addres, class: 'form-control form-control-lg'%>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-lg-3">
        <div class = "form-group">
          <%= form.label :city, class: 'mb-2'%>
          <%= form.text_field :city, class: 'form-control form-control-lg'%>
        </div>
      </div>
      <div class = "col-lg-3">
        <div class = "form-group">
          <%= form.label :pincode, class: 'mb-2'%>
          <%= form.text_field :pincode, class: 'form-control form-control-lg'%>
        </div>
      </div>
      <div class = "col-lg-3">
        <div class = "form-group">
          <%= form.label :state, class: 'mb-2'%>
          <%= form.text_field :state, class: 'form-control form-control-lg'%>
        </div>
      </div>
      <div class = "col-lg-3">
        <div class = "form-group">
          <%= form.label :country, class: 'mb-2'%>
          <%= form.text_field :county, class: 'form-control form-control-lg'%>
        </div>
      </div>
    </div>
<div class = "row">
      <div class = "col-lg-12  mt-4">
        <div class = "form-group">
          <%= form.submit class: 'mb-2'%>
          
        </div>
      </div>
  <% end %>
</div>