<h1> HR App </h1>
<!--<%= link_to 'About Us', about_us_path%> prefix   -->
<%= link_to 'About Us', about_us_path, target: '_blank'%>
<%= link_to 'Contact Us', contact_us_path, target: '_blank' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank' %>
<%= link_to 'Terms and Conditions', term_and_conditions_path, target: '_blank' %>
